.DocumentMenu {
  padding: 30px 20px;
}

.DocumentMenu-list {
  position: relative;
}

.DocumentMenu-entry {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  user-select: none;
}

.DocumentMenu-entry:hover {
  cursor: pointer;
  background-color: #00bf9c20;
  transition: all 0.05s;
}

.DocumentMenu-entry:active {
  color: #ffffff;
}

.DocumentMenu-entry-selected, .DocumentMenu-entry-selected:hover {
  color: #ffffff;
  background-color: #00bf9b;
}
