.RichTextEditor mw-input, .RichTextEditor mw-output {
  /*cursor: col-resize;*/
  border: none;
  outline: none;
  padding: 0;
  font: inherit;
  background: transparent;
  display: inline-block;
}

.RichTextEditor mw-input {
  color: #BA0EA9;
}

.RichTextEditor mw-output {
  color: #0e75ba;
}

.RichTextEditor h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: bold;
}

.RichTextEditor h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}

.RichTextEditor p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 15px;
}

.RichTextEditor .ProseMirror {
  height: 100%;
  max-height: 100%;
  padding-bottom: 20px;
}

.RichTextEditor-menu {
  position: fixed;
  top: 100px;
  left: 60%;
  z-index: 1;
}

.RichTextEditor-menu-item {
  background-color: #00bf9b;
  display: block;
  margin-left: 1px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: serif;
  font-size: 20px;
  padding-top: 2px;
  color: #ffffff;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
  text-align: center;
  cursor: pointer;
}

.RichTextEditor-menu-item:hover {
  background-color: #10cfab;
}
