.RichTextEditor mw-input, .RichTextEditor mw-output, .RichTextEditor .mw-input, .RichTextEditor .mw-output {
  /*cursor: col-resize;*/
  border: none;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  font: inherit;
  display: inline-block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.RichTextEditor mw-input, .RichTextEditor .mw-input {
  background-color: rgb(186, 14, 169, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(186, 14, 169, 0.5);
  color: rgb(186, 14, 169);
  cursor: ew-resize;
}

.RichTextEditor mw-output, .RichTextEditor .mw-output {
  background-color:rgba(14, 117, 186, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(14, 117, 186, 0.5);
  color: rgb(14, 117, 186);
}

.RichTextEditor h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: bold;
}

.RichTextEditor h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}

.RichTextEditor p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 15px;
}

.RichTextEditor .ProseMirror {
  height: 100%;
  max-height: 100%;
  padding-bottom: 20px;
}

.RichTextEditor-menu {
  position: fixed;
  top: 100px;
  left: 60%;
  z-index: 1;
}

.RichTextEditor-menu-item {
  background-color: #ffffff;
  color: #333333;
  display: block;
  margin-left: 1px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: serif;
  font-size: 20px;
  padding-top: 2px;
  text-align: center;
  cursor: pointer;
}

.RichTextEditor-menu-item.RichTextEditor-menu-item-active {
  background-color: #00bf9b;
  color: #ffffff;
} 
